# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# Mac system files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Database
*.db
*.sqlite3

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build files
build/
dist/

# ML model files (optional if very large)
*.pkl
*.h5
*.joblib