body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background: linear-gradient(135deg,#5b7cff,#2cc295);
    font-family: Arial, sans-serif;
}

.captcha-container{
    background:white;
    padding:40px;
    border-radius:18px;
    width:750px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    text-align:center;
}

.captcha-image{
    margin:15px 0;
}

input{
    margin-top:10px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-top:20px;
}

.grid img{
    width:100%;
    border-radius:5px;
    cursor:pointer;
}