body {
    background: #f5f6fa;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   /* full screen height */
    margin: 0;
}

.card {
    width: 400px;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    text-align: center;
}

img {
    width: 100%;
    border-radius: 5px;
}

.low {
    color: green;
}

.medium {
    color: orange;
}

.high {
    color: red;
}

.progress {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-bar {
    height: 10px;
    border-radius: 5px;
}