<!DOCTYPE html>
<html>
<head>
    <title>Adaptive CAPTCHA System</title>
</head>

<body style="text-align:center; font-family:Arial; margin-top:50px;">

<h1>Secure Login System</h1>

<h3>Please enter the CAPTCHA below:</h3>

<img src="{{ url_for('static', filename='captcha_images/captcha.png') }}" alt="CAPTCHA">

<form method="POST" id="captchaForm">

    <br><br>

    <input type="text" id="captchaInput" name="captcha_input" placeholder="Enter CAPTCHA" required>

    <br><br>

    <button type="submit">Submit</button>

</form>

<h3>{{ message }}</h3>

<hr>

<h3>Attempts: {{ attempts }}</h3>
<h3>Security Level: {{ difficulty.capitalize() }}</h3>

<hr>

<h2>User Behavior Analysis</h2>

<p><b>Risk Score:</b> {{ risk_score }}</p>
<p><b>Risk Level:</b> {{ risk_level }}</p>

</body>

<script>

let mouseMoves = 0;
let clicks = 0;
let typingStart = 0;
let typingTime = 0;
let pageStart = Date.now();

/* Track mouse movement */
document.addEventListener("mousemove", function(){
    mouseMoves++;
});

/* Track clicks */
document.addEventListener("click", function(){
    clicks++;
});

/* Get input after page loads */
let captchaInput = document.getElementById("captchaInput");

/* Typing start */
captchaInput.addEventListener("focus", function(){
    typingStart = Date.now();
});

/* Typing speed */
captchaInput.addEventListener("keyup", function(){
    typingTime = Date.now() - typingStart;
});

/* Send behavior data with form */
document.getElementById("captchaForm").addEventListener("submit", function(){

    let timeSpent = Date.now() - pageStart;

    let mouseField = document.createElement("input");
    mouseField.type = "hidden";
    mouseField.name = "mouse_moves";
    mouseField.value = mouseMoves;

    let clickField = document.createElement("input");
    clickField.type = "hidden";
    clickField.name = "clicks";
    clickField.value = clicks;

    let typingField = document.createElement("input");
    typingField.type = "hidden";
    typingField.name = "typing_time";
    typingField.value = typingTime;

    let timeField = document.createElement("input");
    timeField.type = "hidden";
    timeField.name = "time_spent";
    timeField.value = timeSpent;

    this.appendChild(mouseField);
    this.appendChild(clickField);
    this.appendChild(typingField);
    this.appendChild(timeField);

});

</script>

</html>